:root{
              /* index */
    --primari-color : #212121;
    --second-color : #757575;
    --decoration-color : #2196F3;
    --background-color-white: #ffffff ;
    --background-color-dark: #2F303A;
            /* Portfolio */
    --color-button-portfolio: #F5F4FA;
}
                            /* --------------fonts -------------------*/
.head a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
 }

 .mein-list p{
     font-weight: 400;
     font-size: 14px;
    line-height: 1.71;
 }

 .our-work{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}


.our-com-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.our-comand{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.our-com-list p{
    font-weight: 400;
     font-size: 14px;
    line-height: 1.71;
    color:#757575;
}

 .mein-list{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
 }

body{
    background-color: var(--background-color-white);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
 }
.list-desk p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.progect-oth{
    font-size: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    color:#212121;
}

.progect-oth p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
}

.hero-name h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}

 h3 h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
 }


.our-comand-list h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
 
.our-comand-list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}


 .footter-link{
    font-family : 'Raleway', sans-serif;
    font-weight: 700;
    font-size : 26px;
    line-height : 1.19;
}

                        /*--------------- font portfolio -----------------*/
.list-btn button{
     font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
 }
 
 .project-list h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
 }

 .project-list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
 }





                          /*--------------- Index Header--------------------- */

 
 .home-btn:visited{
    color: #188CE8;
 }

 .home-btn{
    color: var(--decoration-color);
 }

 
.logo{
    color: #2196F3;
    
}

.logo-link{
    text-decoration: none;
    color: #000000;
}

.site-nav a{
    color: var(--primari-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav a:hover,
.site-nav a:focus{
    color : #2196F3;

} 

li{
list-style: none;
}

.contacts a:hover,
.contacts a:focus{
color: var(--decoration-color)
}

.contacts a{
    color: var(--second-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
}

.list-btn a:visited{
    background-color: var(--decoration-color);
}

.adress-contc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
                     /* ---------------------Index Main ----------------------*/

.hero{
background-color: var(--background-color-dark);

text-align: center;
}

.hero-name{
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}


.hero-btn{
    background-color: var(--decoration-color);
    color: #ffffff;
   
}
.img-desk h2{
    text-align: center;
}

.our-comand-list h2{
    text-align: center;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #188CE8;
}

                        /*-------------------------- List Desk --------------------*/
.list-desk{
    background-color: var(--background-color-white);
}

.persona-list p{
text-align: center;
}
.persona-list h3{
text-align: center;
}


.list-desk h3{
color: var(--primari-color);
}

.list-desk p{
color: var(--second-color);
}
                   /*------------------------- Img Desk------------------------------------------ */

h2{
    color: var(--primari-color);
}       

.img-desk{
    background-color: var(--background-color-white);
}




                                /*---------------------- our-comand list---------------------------- */

.our-comand-list{
   background-color: #F5F4FA;
}

.our-comand-img{
    background-color: var(--background-color-white);
}



                               /* --------------------------Index Footer------------------------------ */


.footter-link{
    background-color: var(--background-color-dark);
}

.address-footer{
    color: #ffffff;
    font-weight: 400;
     font-size: 14px;
    line-height: 1.71;
}

.logo-link-footer{
    text-decoration: none;
    color: #ffffff;
   
}

.contacts-footer a:hover,
.contacts-footer a:focus{
color: var(--decoration-color)
}


.contacts-footer a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}



                          /* !!!!!!!!!!!!!!!!!!!!!!!Portfolio !!!!!!!!!!!!!!!!!!!!*/
.list-btn button{
    background-color: var(--color-button-portfolio);
}

.list-btn{
    background-color: var(--background-color-white);
}

.list-btn button:hover,
.list-btn button:focus{
    background-color: var(--decoration-color);
    color:#ffffff;
}                    

                               /* ----------------project-list -------------------*/

 .list-btn .btn-static{
background-color: var(--decoration-color);
color: #ffffff;
}


.project-list h1{
color: var(--primari-color);
text-align: center;
}

.project-list li{
    background-color: var(--background-color-white);
}

.project-list p{
color: var(--second-color);
text-align: center;
}

.project-list a{
    text-decoration: none;
}

